@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full p-2 border rounded mb-3;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.97);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeSlideIn 0.5s ease forwards;
}